In [1]:
import pandas as pd

In [12]:
bmi= pd.read_csv('bmi/hlth_ehis_bm1e_1_Data.csv')

In [13]:
bmi

,BMI,GEO,UNIT,TIME,ISCED11,SEX,AGE,Value,Flag and Footnotes
0,Underweight,European Union - 27 countries (from 2020),Percentage,2014,All ISCED 2011 levels,Total,Total,2.9,NaN
1,Underweight,European Union - 27 countries (from 2020),Percentage,2019,All ISCED 2011 levels,Total,Total,2.9,NaN
2,Underweight,European Union - 28 countries (2013-2020),Percentage,2014,All ISCED 2011 levels,Total,Total,2.8,NaN
3,Underweight,European Union - 28 countries (2013-2020),Percentage,2019,All ISCED 2011 levels,Total,Total,:,NaN
4,Underweight,Belgium,Percentage,2014,All ISCED 2011 levels,Total,Total,3.3,NaN
...,...,...,...,...,...,...,...,...,...
335,Obese,United Kingdom,Percentage,2019,All ISCED 2011 levels,Total,Total,:,NaN
336,Obese,Serbia,Percentage,2014,All ISCED 2011 levels,Total,Total,:,NaN
337,Obese,Serbia,Percentage,2019,All ISCED 2011 levels,Total,Total,16.8,NaN
338,Obese,Turkey,Percentage,2014,All ISCED 2011 levels,Total,Total,19.9,NaN
339,Obese,Turkey,Percentage,2019,All ISCED 2011 levels,Total,Total,21.1,NaN

In [7]:
fv_consumption = pd.read_csv('fruit&vegetables/hlth_ehis_fv3e_1_Data.csv')

In [8]:
fv_consumption

,N_PORTION,GEO,UNIT,TIME,ISCED11,SEX,AGE,Value,Flag and Footnotes
0,0 portions,European Union - 27 countries (from 2020),Percentage,2014,All ISCED 2011 levels,Total,Total,36.0,NaN
1,0 portions,European Union - 27 countries (from 2020),Percentage,2019,All ISCED 2011 levels,Total,Total,32.9,NaN
2,0 portions,European Union - 28 countries (2013-2020),Percentage,2014,All ISCED 2011 levels,Total,Total,34.4,NaN
3,0 portions,European Union - 28 countries (2013-2020),Percentage,2019,All ISCED 2011 levels,Total,Total,:,NaN
4,0 portions,Belgium,Percentage,2014,All ISCED 2011 levels,Total,Total,16.1,NaN
...,...,...,...,...,...,...,...,...,...
199,5 portions or more,United Kingdom,Percentage,2019,All ISCED 2011 levels,Total,Total,:,NaN
200,5 portions or more,Serbia,Percentage,2014,All ISCED 2011 levels,Total,Total,:,NaN
201,5 portions or more,Serbia,Percentage,2019,All ISCED 2011 levels,Total,Total,8.1,NaN
202,5 portions or more,Turkey,Percentage,2014,All ISCED 2011 levels,Total,Total,3.0,NaN
203,5 portions or more,Turkey,Percentage,2019,All ISCED 2011 levels,Total,Total,2.8,NaN

In [10]:
education = pd.read_csv('edat_lfse_03/edat_lfse_03_1_Data.csv')

In [11]:
education

,TIME,GEO,SEX,AGE,UNIT,ISCED11,Value,Flag and Footnotes
0,2007,Austria,Total,From 15 to 64 years,Percentage,"Less than primary, primary and lower secondary...",25.4,NaN
1,2007,Austria,Total,From 15 to 64 years,Percentage,"Upper secondary, post-secondary non-tertiary a...",74.6,NaN
2,2007,Austria,Total,From 15 to 64 years,Percentage,Upper secondary and post-secondary non-tertiar...,60.0,NaN
3,2007,Austria,Total,From 15 to 64 years,Percentage,Tertiary education (levels 5-8),14.6,NaN
4,2007,Belgium,Total,From 15 to 64 years,Percentage,"Less than primary, primary and lower secondary...",34.8,NaN
...,...,...,...,...,...,...,...,...
2291,2020,Turkey,Total,From 15 to 64 years,Percentage,Tertiary education (levels 5-8),19.7,NaN
2292,2020,United Kingdom,Total,From 15 to 64 years,Percentage,"Less than primary, primary and lower secondary...",:,NaN
2293,2020,United Kingdom,Total,From 15 to 64 years,Percentage,"Upper secondary, post-secondary non-tertiary a...",:,NaN
2294,2020,United Kingdom,Total,From 15 to 64 years,Percentage,Upper secondary and post-secondary non-tertiar...,:,NaN
2295,2020,United Kingdom,Total,From 15 to 64 years,Percentage,Tertiary education (levels 5-8),:,NaN

In [14]:
life_expectancy = pd.read_excel('tps00205_page_spreadsheet.xlsx')

/home/agnieszka/.local/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [15]:
life_expectancy

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Life expectancy at birth by sex [TPS00205],NaN,NaN,NaN,NaN,NaN
5,Open product page,Open in Data Browser,NaN,NaN,NaN,NaN
6,Description:,Life expectancy at birth is defined as the mea...,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,Last update of data:,NaN,NaN,28/04/2021 11:00,NaN,NaN
9,Last change of data structure:,NaN,NaN,28/04/2021 11:00,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Institutional source(s),NaN,NaN,NaN,NaN
12,NaN,NaN,Eurostat,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Source dataset(s),NaN,NaN,NaN,NaN
15,NaN,NaN,This dataset is computed from,NaN,NaN,NaN
16,NaN,NaN,DEMO_MLEXPEC,Open in Data Browser,NaN,NaN
17,NaN,Contents,Time frequency,Unit of measure,Sex,Age class
18,NaN,Sheet 1,Annual,Year,Total,Less than 1 year